*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818
}

a{
    text-decoration: inherit;
    color: inherit;
}

/*
NAV
*/

.nav__container{
    width: 1097px;
    margin: 0 auto;
    border: 1px ;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    color: white;
    list-style: none;
    gap: 41px;
}

.nav__list__item{
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav__list__item:hover{
    color:#4452FE;
}

.nav__btn{
    color: white;
    border: 1px solid white;
    padding: 13px 46px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav__btn:hover{
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nav__media{
    display: none;
}

/*
HERO
*/

.hero__container{
    width: 100%;
    border: 1px;
    margin: 35px;
    margin-bottom: 100px;
}

.hero__title{
    font-size: 80px;
    font-weight: 500;
    color: white;
    margin-top: 60px;
    text-align: center;
}

.hero__info{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 27px;
}

.hero__btns{
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 60px;
}

.hero__btns a{
    padding: 20px 40px;
    border: 1px solid white;
    margin-left: 35px;
}

.hero__btns a:hover {
    transition: 0.3s ease-in-out;
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
}




/*
FEATURES
*/
.features__container{
    width: 1479px;
    border: 1px ;
    margin-left:47px;
}

.features__title{
    font-size: 52px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 27px;
}

.features__info{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 80px;
}

.features__wrapper{
    display: flex;
    gap: 27px;
}

.features__img{
    margin-left: 200px;
}

.features__list{
    margin-top: 74px;
}

.features__list__item{
    margin-bottom: 80px;
}

.features__list__item h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.features__list__item p{
    font-size: 16px;
    font-weight: 400;
    color: white; 
    margin-top: 16px;
    margin-left: 10px;
}

.list__item{
    display: flex;
    gap: 13px;
}

/*
CONTENTS
*/
.contents__container{
    width: 985px;
    border: 1px ;
    margin: 0 auto;
    margin-top: 150px;
}

.contents__title{
    font-size: 52px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contents__info{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.contents__wrapper{
    display: flex;
    gap: 33px;
}

.card{
    width: 476px;
    background-color: white;
    border: 1px solid black;
    margin-top: 44px;
    border-radius: 10px ;
}

.card__title{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card__info{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: grey;
    margin-bottom: 67px;
}

.card__info1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: grey;
    margin-bottom: 40px;
}

.card__btn{
    text-align: center;
    margin-bottom: 71px;
}

.card__btn1{
    text-align: center;
    margin-bottom: 90px;
}

.card__btn1 a{
    padding: 13px 46px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 31px 0px #00000026;
}

.card__btn1 a:hover{
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
}

.card__btn a{
    padding: 13px 46px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 31px 0px #00000026;
}

.card__btn a:hover{
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
}

.card__img img{
    padding: 0 35px 44px 35px;
}



.card__img1{
    margin-top: -70px;
    margin-left: 20px;
}


/*
GALLERY
*/ 
.gallery__container{
    width: 1087px;
    border: 1px;
    margin: 0 auto;
    margin-top: 150px;
}

.gallery__title{
    font-size: 52px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 10px;  
}

.gallery__info{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 54px;
}


.gallery__card{
    margin-left: 44px;  
    margin-bottom: 44px;
    display: flex;
    gap: 33px;
}

.gallery__card__img{
    border-radius: 12px 12px 12px 12px;
}


.gallery__card2{
    display: flex;
    gap: 33px;
}

.gallery__card2__img{
    border-radius: 12px;
}

.gallery__btn{
    text-align: center;
    color: white;
    margin-top: 44px;
    margin-bottom: 20px;
}

.gallery__btn a{
    font-size: 17px;
    font-weight: 500;
    padding: 13px 40px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

.gallery__btn a:hover{
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
}


/*
PARTNERS
*/
.partners__container{
    width: 831px;
    margin: 0 auto;
    border: 1px;
    margin-top: 100px;
}

.partners__title{
    font-size: 52px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.partners__info{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.partners__wrapper{
    display: flex;
    gap: 74px;
    text-align: center;
}

.patners__btn{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 60px;
}

.patners__btn a{
    font-size: 17px;
    font-weight: 500;
    padding: 13px 40px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

.patners__btn a:hover{
    background-color: #4452FE;
    border: 1px solid rgba(0, 0, 0, 0);
}

@media (max-width: 571px){
    .nav__container{
        width: 100%;
        margin: 0 auto;
        min-width: 320px;
        padding: 20px;
    }

    .nav__wrapper{
        justify-content: space-between;
    }

    .nav__list__item{
        display: none;
    }

    .nav__media{
        display: block;
    }

    /*
    HERO
    */

    .hero__wrapper{
        flex-direction: column;
    }

    .hero__title{
        width: 314px;
        font-size: 52px;
        font-weight: 400;
        margin: 0 auto;
    }

    .hero__info{
        width: 382px;
        font-size: 20px;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 30px;
    }

    .hero__btns{
        width: 417px;
        display: block;
    }

    .hero__img img{
        width: 549px;
        height: 453px;
    }
}